body {background:#fff;}

#wrapper {margin:0 auto;  background:#ffffff; text-align:center;}

a:link {text-decoration:underline; color:#000;}
a:visited {text-decoration:underline; color:#000;}
a:hover {text-decoration:none; color:#000;}
a:active {text-decoration:underline; color:#000;}


#navkac {float:left;width:166px; height:42px; background:url('../img/navac.png') no-repeat; color:#fff; font:17pt arial; padding-top:10px;}

#header { width:100%;background:url('../img/header.png') repeat-x; padding:0px; margin-bottom:0px; padding-top:90px;  }
#logo {width:1012px; height:61px; background:url('../img/logo.png') no-repeat; margin:0 auto;}
#nav{width:1012px; height:52px; margin:0 auto; margin-top:37px; text-align:center;}
.navk {float:left;width:166px; height:42px; background:url('../img/nav.png') no-repeat; color:#fff; font:17pt arial; padding-top:10px; margin:0px 1px;}
.navk a:link {text-decoration:none; color:#ffffff;}
.navk a:visited {text-decoration:none; color:#ffffff;}
.navk a:hover {text-decoration:none; color:#ffffff;}
.navk a:active {text-decoration:none; color:#ffffff;}

.navk:visited {text-decoration:none; color:#ffffff; background:url('../img/navac.png') no-repeat;}
.navk:hover {text-decoration:none; color:#ffffff; background:url('../img/navac.png') no-repeat;}
.navk:active {text-decoration:none; color:#ffffff; background:url('../img/navac.png') no-repeat;}

.navk a.navk1 {padding:10px 35px;}
.navk a.navk2 {padding:10px 50px;}
.navk a.navk3 {padding:10px 30px;}
.navk a.navk4 {padding:10px 45px;}
.navk a.navk5 {padding:10px 30px;}
.navk a.navk6 {padding:10px 30px;}

#banner {width:1012px; height:190px;background:url('../img/banner.gif') no-repeat; margin:0px auto; margin-top:30px; margin-bottom:10px;}
#screen1 {width:1012px; height:190px; margin:0px auto; margin-top:30px; margin-bottom:10px;}

#footer {width:100%; height:94px; background:url('../img/footer.png') repeat-x; margin-top:10px;}
.footertextr { color:#fff; margin:10px 10px 0px 0px; float:right; text-align:right;}
.footertextl { margin:30px 0px 0px 10px; float:left; text-align:center;}
.footertextl a { color:#fff; text-decoration:none;} 
.footertextl a:hover { color:#fff; text-decoration:underline;} 
.footertextl  img {margin-top:4px;}

.pricetable {width:100%; padding:1px solid #aaa;}
.pricetable tr:first-child  td{text-align:center;}
.pricetable td {padding-bottom:2px; padding-top:2px; text-align:right;}
.pricetd {padding-right:2px; text-align:left !important;}

#middle {width:1012px;  min-height:300px; display:block; text-align:left; margin:0 auto; }

#content {float:left; width:750px; margin:0px; padding:0px;  text-align:left;}
#contentprofile {  width:1000px; margin:0px; padding:0px;  text-align:left;}

#sidebar{ float: left; width:243px; margin:0px; padding:0px;}
.text {margin:5px 10px 5px 10px; font-size:10pt;}
.block1title {font:17pt arial; color:#666666; padding-top:15px; text-align:center;}
.block1content { padding:5px 20px 5px 20px;}

.block1{margin:0px; margin-bottom:20px; width:243px;height:246px; background:url('../img/block1.png') no-repeat;}
.blockcontent {background:#f4f4f4; padding:10px;}

.loginProfile  {text-align:center;}
.loginProfile h2 { font:17pt arial; color:#666666; padding-top:15px; text-align:center; font-weight:normal;}
.loginProfile table {width:600px; margin:0px auto;}
.loginProfile table td.loginput {text-align:center; color: #666666; font-size: 11pt; }
.loginProfile table td.loginput input {border:0px; width:204px; height:33px; background:url('../img/login2.png') no-repeat; padding-left:5px;}

.prlink {font-size: 14px; margin-top:5px;}
.prlink li {margin-top:3px;}
.balans {color:#6d0000; font-size: 15px; font-weight: 700; line-height: 15px; margin: 10px 0px 5px 0px;}

#user {margin-left:100px;float:right;}

.prinfo { font-size: 14px; font-weight: 400; line-height: 15px; margin: 10px 0px 5px 0px;}

.footertext {width:1012; color:#fff; margin:0px auto; text-align:right;}

.login {font:11pt arial; color:#666666; margin-top:10px;}
.login1 { width:204px; height:33px; border:0px;  }
.login1 input {border:0px; width:204px; height:33px;background:url('../img/login2.png') no-repeat; padding-left:5px;}
.loginButton { background:url('../img/login.png') no-repeat; cursor:pointer; width:73px; height:25px; border:0px; }
.loginbut {font-size:10pt;margin-top:3px;}
.loginbut a:link {text-decoration:underline; color:#ff9000;}
.loginbut a:visited {text-decoration:underline; color:#ff9000;}
.loginbut a:hover {text-decoration:none; color:#ff9000;}
.loginbut a:active {text-decoration:underline; color:#ff9000;}

.reftable { border-top:1px #aaa solid;border-right:1px #aaa solid; text-align:center; width:100%}
.reftable td {border:1px #aaa solid; padding:5px; border-top:0px; border-right:0px;}

.orderTable tr td:last-child {vertical-align: top;}